In [9]:

import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE Weather (
    id INT PRIMARY KEY,
    recordDate DATE,
    temperature INT
)
''')

weather_data = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]
cursor.executemany('INSERT INTO Weather (id, recordDate, temperature) VALUES (?, ?, ?)', weather_data)


query = '''
SELECT w1.id 
FROM Weather w1
JOIN Weather w2 
ON DATE(w1.recordDate, '-1 day') = w2.recordDate
WHERE w1.temperature > w2.temperature
'''

cursor.execute(query)

sql_result = cursor.fetchall()

df_sql_result = pd.DataFrame(sql_result, columns=['id'])

conn.close()

df_sql_result

   id
0   2
1   4

In [11]:

data = {
    'id': [1, 2, 3, 4],
    'recordDate': pd.to_datetime(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04']),
    'temperature': [10, 25, 20, 30]
}
df_weather = pd.DataFrame(data)

df_weather = df_weather.sort_values(by='recordDate')

df_weather['prev_temp'] = df_weather['temperature'].shift(1)
df_python_result = df_weather[df_weather['temperature'] > df_weather['prev_temp']][['id']]

df_python_result

   id
1   2
3   4